.footer {
  background: #000;
  padding: 90px 0;

  color: #fff;
  &__info {
    img {
      max-width: 200px;
    }
    p {
      max-width: 250px;
    }
  }
  &__container {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    align-items: center;
    flex-wrap: wrap;
  }
  &__lists {
    display: flex;
    flex-wrap: wrap;
    gap: 70px;
  }
  &__list {
    h3 {
      color: #56b280;
    }
    display: flex;
    cursor: pointer;
    flex-direction: column;
    gap: 10px;
  }
}
